body {
    background-color: #E9ECEF;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    margin-top: 9px;
    


}

nav {
    background-color: rgb(76, 68, 68);
    height: 50px;
    
}
nav ul li a{
    color: rgb(144, 150, 155);
}

